.country-card {
  width: 100%;
  height: 350px;
  background: var(--elements);
  border-radius: 0 0 5px 5px;
  transition: transform 0.2s ease;
  -webkit-box-shadow: 0 0 4px 1px var(--shadow);
  -moz-box-shadow: 0 0 4px 1px var(--shadow);
  box-shadow: 0 0 6px 1px var(--shadow);
}

.country-card:hover {
  transform: scale(0.97);
}

.flag {
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.card-info {
  margin: 25px;
}

p {
  font-weight: 600;
  font-size: 14px;
  margin: 5px 0;
}

p > span {
  font-weight: 300;
}
