.searchField {
  display: flex;
  justify-content: center;
  width: 450px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: var(--text);
}

i {
  align-self: center;
}

.searchField i {
  margin-right: 15px;
}

input {
  background: none;
  border: none;
  width: 100%;
  color: var(--text);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--text);
}

input::placeholder {
  color: var(--text);
}

.searchField {
  height: 50px;
  padding: 10px 25px;
  border: var(--background);
  background: var(--elements);
  color: var(--text);
  -webkit-box-shadow: 0 0 4px 1px var(--shadow);
  -moz-box-shadow: 0 0 4px 1px var(--shadow);
  box-shadow: 0 0 6px 1px var(--shadow);
}   

.container {
  padding: 40px 70px;
}

.queryNav {
  display: flex;
  justify-content: space-between;
}

.countryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 80px 60px;
  padding: 40px 0;
}

@media only screen and (max-width: 414px) {
  .container {
    padding: 40px 40px;
  }
  .queryNav {
    flex-direction: column;
    width: 100%;
  }
  .searchField {
    margin-bottom: 40px;
    width: 100%;
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .searchField {
    width: 350px;
  }
}
