.detailsContainer {
  display: flex;
  color: var(--text);
}

.countryInfo {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 1fr;
}

.btn {
  color: var(--text);
  border: var(--background);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 4px 1px var(--shadow);
  -moz-box-shadow: 0 0 4px 1px var(--shadow);
  box-shadow: 0 0 6px 1px var(--shadow);
}

.goBackBtn {
  width: 150px;
  height: 50px;
  margin: 70px 50px;
  font-size: 16px;
}

.goBackBtn i {
  margin-right: 12px;
}

.borderBtn {
  width: 100px;
  height: 30px;
  font-size: 14px;
  margin: 0 0 10px 10px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.9);
}

img {
  width: 500px;
  margin: 0 50px;
}

.textContainer {
  height: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

p > span {
  margin-left: 5px;
}

.bordersContainer {
  display: flex;
  margin-top: 50px;
}

.borders {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .detailsContainer {
    flex-direction: column;
  }
  img {
    width: 80%;
    margin: 0 40px;
  }
  .goBackBtn {
    width: 110px;
    height: 40px;
    margin: 50px 40px;
    font-size: 14px;
  }
  .bordersContainer {
    flex-direction: column;
  }
  .countryInfo {
    flex-wrap: nowrap;
  }
  .textContainer {
    height: 100vh;
    width: 90%;
    margin-left: 40px;
  }
  .borderBtn {
    margin: 0 10px 10px 0;
  }
}

@media only screen and (max-width: 414px) {
  .countryInfo {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
