.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  background: var(--elements);
  -webkit-box-shadow: 0 3px 3px var(--shadow);
  -moz-box-shadow: 0 3px 3px var(--shadow);
  box-shadow: 0 3px 3px var(--shadow);
}

.theme-btn {
  border: none;
  font-size: 14px;
  color: var(--text);
}

.theme-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px 40px;
    font-size: 10px;
  }
  .navbar button {
    font-size: 11px;
  }
}
